In [10]:
import pandas as pd
df=pd.read_csv('sales.csv', parse_dates=["Date"],dayfirst=True)
print(df)

         Date      Item  Quantity  Price
0  2025-01-05       Pen        10      5
1  2025-01-12  Notebook         4     30
2  2025-01-15    Pencil        15      3
3  2025-02-03       Pen        12      5
4  2025-02-10  Notebook         6     30
5  2025-02-17    Eraser        20      2
6  2025-03-01    Marker         5     25
7  2025-03-07       Pen         8      5
8  2025-03-15    Pencil        10      3
9  2025-03-28  Notebook         3     30
10 2025-04-02       Pen        14      5
11 2025-04-09    Eraser        18      2
12 2025-04-20    Pencil        25      3
13 2025-04-29    Marker         6     25

In [12]:

df['Month'] = df['Date'].dt.to_period('M')
df['revenue'] = df['Quantity'] * df['Price']

monthly_summary = df.groupby('Month').agg({
    'Quantity': 'sum',
    'revenue': 'sum'
}).reset_index()

print("ðŸ“Š Monthly Summary:")
print(monthly_summary)

ðŸ“Š Monthly Summary:
     Month  Quantity  revenue
0  2025-01        29      215
1  2025-02        38      280
2  2025-03        26      285
3  2025-04        63      331

In [16]:
item=df.groupby('Item')['Quantity'].sum()
print("\n Total Quantity Sold by Item:", item)
max_sold_item=item.idxmax()
max_quantity_item=item.max()

print(f"\n Item with Maximum Quantity Sold: {max_sold_item} ({max_quantity_item} units)")

 Total Quantity Sold by Item: Item
Eraser      38
Marker      11
Notebook    13
Pen         44
Pencil      50
Name: Quantity, dtype: int64

 Item with Maximum Quantity Sold: Pencil (50 units)

In [19]:
item=df.groupby('Item')['Quantity'].sum()
print("\n Total Quantity Sold by Item:", item)
min_sold_item=item.idxmin()
min_quantity_item=item.min()

print(f"\n Item with Minimum Quantity Sold: {min_sold_item} ({min_quantity_item} units)")

 Total Quantity Sold by Item: Item
Eraser      38
Marker      11
Notebook    13
Pen         44
Pencil      50
Name: Quantity, dtype: int64

 Item with Minimum Quantity Sold: Marker (11 units)

In [28]:

total_revenue = df['revenue'].sum()
print(f"\nðŸ’° Total Revenue: â‚¹{total_revenue:.2f}")

ðŸ’° Total Revenue: â‚¹1111.00

In [32]:
avg=df['revenue'].mean()
print(f"\nðŸ’° Average Revenue per Sale: â‚¹{avg:.2f}")

ðŸ’° Average Revenue per Sale: â‚¹79.36

In [33]:
average_revenue_per_item = df.groupby('Item')['revenue'].mean()
print(average_revenue_per_item)

Item
Eraser       38.0
Marker      137.5
Notebook    130.0
Pen          55.0
Pencil       50.0
Name: revenue, dtype: float64